.controller.xbox {
    background: url(basemod.png);
    height: 630px;
    width: 750px;
}

.xbox .quadrant {
    position: unset;
    background: url(xbox-assets/quadrant.svgz);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .back, .xbox .start {
    background: url(start-selectmod.png);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    float: left;
}

.xbox .start {
    background-position: 33px 0px;
    float: right;
}

.xbox .stick {
    position: absolute;
    background: url(stickmod.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}
