.controller.xbox {
    background: url(basemodflynn.gif);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox .trigger {
    width: 88px;
    height: 121px;
    background: url(triggermod.png);
    opacity: 0;
}

.xbox .bumper {
    width: 170px;
    height: 61px;
    background: url(bumpermod.png);
    opacity: 0;
}

.xbox .quadrant {
    position: unset;
    background: url(xbox-assets/quadrant.svgz);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .button.pressed {
    background-position-y: -48px;
    margin-top: 0;
    opacity: 1;
}
