.controller.xbox {
    background: url(basefunkersmod.gif);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox .quadrant {
    position: unset;
    background: url(xbox-assets/quadrant.svgz);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .abxy {
    position: absolute;
    width: 153px;
    height: 156px;
    top: 190px;
    left: 488px;
}

.xbox .button {
    position: absolute;
    background: url(abxymod.png);
    width: 48px;
    height: 48px;
}

.xbox .button.pressed {
    background-position-y: -48px;
    margin-top: 0;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 108px;
    left: 55px;
}

.xbox .b {
    background-position: -49px 0;
    top: 58px;
    right: 0px;
}

.xbox .x {
    background-position: -98px 0;
    top: 58px;
    left: 4px;
}

.xbox .y {
    background-position: 48px 0;
    left: 55px;
    top: 7px;
}

.xbox .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 239px;
    left: 144px;
}

.xbox .stick.left {
background: url(LSmod.png); 
background-position: -85px;
height: 83px;
width: 83px;
}

.xbox .stick.right {
background: url(RSmod.png); 
background-position: -85px;
height: 83px;
width: 83px;
}

.xbox .stick.pressed {
    background-position: 0 0;
}
